.board-element {
    border: 2px solid black;
    border-radius: 10rem;
    margin: 0.25rem;
    height: 70px;
    width: 70px;
}

.board-selected-1 {
    background-color: rgb(187, 14, 14);
}

.board-selected-2 {
    background-color: rgb(40, 40, 109);
}