.board-element {
    background-color: hsl(214, 47%, 23%);
    box-shadow: 0px 5px rgb(12, 18, 57) inset;
    border-radius: 10rem;
    margin: 0.25rem;
    height: 70px;
    width: 70px;
}

.board-selected-1 {
    background-color: rgb(187, 14, 14);
    box-shadow: none;
}

.board-selected-2 {
    background-color: rgb(241, 193, 22);
    box-shadow: none;
}