.board-nav {
    display: flex;
    gap: 1.75rem;
    margin-top: 3rem;
}

.board-nav-item {
    border: 2px solid black;
    border-radius: 10rem;
    height: 50px;
    width: 50px;
    cursor: pointer;
}