.game-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.turn-tracker {
    display: flex;
    align-items: center;
    justify-content: center;
}