.title {
    text-align: center;
    margin-top: 3rem;
    color: white;
    font: 3rem;
    letter-spacing: 0.25rem;
}

.game-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.turn-tracker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper {
    margin-top: 2rem;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn {
    padding: 0.5rem 0.75rem;
    margin-left: 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-primary  {
    background-color: white;
    border: none;
}

.btn-primary:hover {
    color: hsl(214, 51%, 49%);
}

.btn-secondary {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}
