
  <main>
    <h1 class="title">Connect four</h1>
  <section class="game-content">
      <app-player [playerNo]=1 [winner]=this.winner [resetScore]=this.resetScore></app-player>
      <app-board (nextPlayer)="setNextPlayer($event)" (winner)="setWinner($event)" [newGame]=this.newGame></app-board>
      <app-player [playerNo]=2 [winner]=this.winner [resetScore]=this.resetScore></app-player> 
  </section>
  <div class="turn-tracker">
    <app-turn-tracker [playerNo]=this.player [winner]=this.winner></app-turn-tracker> 
  </div>
  <div class="btn-wrapper">
    <div class="game-actions-wrapper">
    <button class="btn" (click)="onGameAction('newGame')"> New game</button>
    <button class="btn" (click)="onGameAction('resetScore')"> Reset score</button>
  </div>
    <button class="btn" (click)="onSeeRules()">Rules</button>
  </div>
  </main>