
<div class="board-wrapper">
<div class="board">
    <app-board-square [id]="1" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="2" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="3" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="4" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="5" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="6" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="7" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="8" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="9" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="10" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="11" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="12" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="13" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="14" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="15" [playerNo]=this.player></app-board-square>
    <app-board-square [id]="16" [playerNo]=this.player></app-board-square>
</div>
</div>