.modal {
    display: flex;
    flex-direction: column; 
    background-color: white;
}

.winner-modal {
    padding: 1rem 2rem;
    text-align: center;
}

.rules-modal {
    padding: 2rem;
}

.btn {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
    align-self: end;
}